# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
build/
dist/
*.spec

# Node / React
node_modules/
frontend/dist/
frontend/node_modules/
.env
.env.local
.env.production

# Apps
cliente/Vexel_Agent.exe
backend_production.zip

# OS
.DS_Store
Thumbs.db
